In [3]:
total_salary = 110000
bonus_salary = 10000

In [4]:
type(total_salary)

int

In [6]:
base_salary = total_salary - bonus_salary
base_salary

100000

In [7]:
job_title = "Data Analyst"
remove_word = "Data"

In [8]:
type(job_title)

str

In [10]:
final_title = job_title - remove_word
final_title  # unsupported operation for str and str "-"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

   "#### Built-in Types\n",
    "\n",
    "Python has the following data types built-in by default:\n",
    "| Type               | Data Type           | Example               |\n",
    "|--------------------|---------------------|-----------------------|\n",
    "| Text               | `str`               | `\"Data Nerd!\"`     |\n",
    "| Numeric            | `int`               | `42`                  |\n",
    "|                    | `float`             | `3.14159`             |\n",
    "|                    | `complex`           | `1 + 2j`              |\n",
    "| Sequence           | `list`              | `[1, 2, 3]`           |\n",
    "|                    | `tuple`             | `(1, 2, 3)`           |\n",
    "|                    | `range`             | `range(10)`           |\n",
    "| Mapping            | `dict`              | `{\"key\": \"value\"}`    |\n",
    "| Set                | `set`               | `{1, 2, 3}`           |\n",
    "|                    | `frozenset`         | `frozenset([1, 2, 3])`|\n",
    "| Boolean            | `bool`              | `True` or `False`     |\n",
    "| Binary             | `bytes`             | `b\"Data\"`            |\n",
    "|                    | `bytearray`         | `bytearray(5)`        |\n",
    "|                    | `memoryview`        | `memoryview(b\"Data\")`|\n",
    "| None               | `NoneType`          | `None`                |\n",
    "\n",