### Arithmetic operators are used with objects (mainly numeric ones) to perform math operations:
    
| Operator | Name           | Example |
|----------|----------------|---------|
| +        | Addition       | x + y   |
| -        | Subtraction    | x - y   |
| *        | Multiplication | x * y   |
| /        | Division       | x / y   |
| %        | Modulus        | x % y   |
| **       | Exponentiation | x ** y  |
| //       | Floor division | x // y  |

In [38]:
2 + 3.0

5.0

In [39]:
"Data " + "Analyst " + "Specialist"

'Data Analyst Specialist'

In [40]:
"Python " * 10

'Python Python Python Python Python Python Python Python Python Python '

In [41]:
"Data Analyst" - "Data"  # unsupported operation

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
four = 4
four.__sub__(2)

2

In [7]:
4 - 2

2

In [8]:
5 / 2

2.5

In [9]:
5 // 2  # integer division

2

In [10]:
5 % 2  # remainder of 5 divided by 2

1

### Order of Operations
- **Parentheses:** Anything in parentheses is executed first
- **Exponents:** Operations involving exponents (including roots, indicated as fractional exponents)
- **Multiplication and Division:** Processed from left to right
- **Addition and Subtraction:** Also processed from left to right

In [13]:
min_salary = 20_000  # _ is ignored by the interpreter
max_salary = 80_000

avg_salary = (min_salary + max_salary) / 2
avg_salary

50000.0

### Assignment operators are used to assign values to variables.
  
| Operator | Name                | Example |
|----------|---------------------|---------|
| =        | Assign              | x = y   |
| +=       | Add and assign      | x += y  |
| -=       | Subtract and assign | x -= y  |
| *=       | Multiply and assign | x *= y  |
| /=       | Divide and assign   | x /= y  |
| %=       | Modulus and assign  | x %= y  |
| **=      | Exponent and assign | x **= y |
| //=      | Floor divide and assign | x //= y  |

In [15]:
applicant_1 = "Kelly"
applicant_2 = "Luke"

In [16]:
temp_var = applicant_1

In [17]:
applicant_1 = applicant_2
applicant_2 = temp_var

In [18]:
applicant_1, applicant_2

('Luke', 'Kelly')

In [19]:
# We can do it easier 
applicant_1 = "Kelly"
applicant_2 = "Luke"

In [20]:
applicant_1, applicant_2 = applicant_2, applicant_1

In [21]:
applicant_1, applicant_2

('Luke', 'Kelly')

In [22]:
x = 1

In [23]:
x = x + 1

In [24]:
x

2

In [25]:
x = 1
x += 1

In [26]:
x

2

In [27]:
x = 1
x *= 2

In [28]:
x

2

### Comparison operators compare two values and determine the relation between them.

| Operator | Name                  | Example |
|----------|-----------------------|---------|
| ==       | Equal to              | x == y  |
| !=       | Not equal to          | x != y  |
| >        | Greater than          | x > y   |
| <        | Less than             | x < y   |
| >=       | Greater than or equal | x >= y  |
| <=       | Less than or equal    | x <= y  |

In [42]:
salary_kelly = 60_000
salary_luke = 40_000

In [30]:
salary_kelly == salary_luke

False

In [31]:
1 == 1

True

In [33]:
if (salary_kelly > salary_luke):
    print("Kelly is paid more than Luke")

Kelly is paid more than Luke