##### Here's a quick comparison between these 4 container data types:
##### Lists
    
| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

In [5]:
job_skills = ["sql", "tableau", "excel"]
job_skills

['sql', 'tableau', 'excel']

In [4]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [8]:
job_skills.append("python")

In [11]:
job_skills

['sql', 'tableau', 'excel', 'python']

In [12]:
job_skills.remove("tableau")

In [13]:
job_skills

['sql', 'excel', 'python']

In [14]:
len(job_skills)

3

In [15]:
job_skills[1]

'excel'

In [16]:
job_skills.insert(2, "tableau")

In [17]:
job_skills

['sql', 'excel', 'tableau', 'python']

In [18]:
job_skills.pop(2)

'tableau'

In [19]:
job_skills

['sql', 'excel', 'python']

In [20]:
job_skills.pop()

'python'

In [21]:
job_skills

['sql', 'excel']

#### Slicing

**Syntax:** `list[start:end:step]`

`start`: The starting index (inclusive).

`end`: The ending index (exclusive).

`step`: Steps to take between items.

In [23]:
job_skills = ["sql", 'excel', 'python']

In [24]:
job_skills[0:3]

['sql', 'excel', 'python']

In [25]:
job_skills[:]

['sql', 'excel', 'python']

In [26]:
job_skills[:1]

['sql']

In [27]:
job_skills[::2]

['sql', 'python']

In [28]:
luke_skills = ["python", "bigquery", "r"]
kelly_skills = ["python", "sql", "looker"]

all_skills = luke_skills + kelly_skills
all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [29]:
all_skills[::2]

['python', 'r', 'sql']

In [30]:
all_skills[5:]

['looker']

In [31]:
all_skills[-1:]

['looker']

In [32]:
all_skills[-2:]

['sql', 'looker']

#### Unpacking
Assign each value in an iterable to a variable in a single statement

In [33]:
job_skills = ["Python", "Excel", "Sql"]

In [34]:
skill1, skill2, skill3 = job_skills

In [35]:
print(skill1)
print(skill2)
print(skill3)

Python
Excel
Sql

In [36]:
job_skills = ["Python", "Excel", "Sql", "Looker"]

In [37]:
skill_concerned, skill_dont_care = job_skills  # variable = list items

ValueError: too many values to unpack (expected 2)

In [38]:
skill_concerned, *skill_dont_care = job_skills  # * --> unpack operator --> take every value not packed into another variable

In [39]:
print(skill_concerned)
print(skill_dont_care)

Python
['Excel', 'Sql', 'Looker']