### Loops
- **for** loops
- **while** loops

#### for loops

In [2]:
numbers = [0, 1, 2, 3, 4, 5]

In [3]:
for number in numbers:
    print(number)

0
1
2
3
4
5

In [4]:
characters = "Python"
for character in characters:
    print(character)

P
y
t
h
o
n

In [5]:
years_experience = {
    "Luke":  3,
    "Kelly": 6,
    "Ken":   4,
    "Alex":  3
}

In [12]:
for _ in years_experience:
    print(_)

Luke
Kelly
Ken
Alex

In [11]:
for key in years_experience.keys():
    print(key)

Luke
Kelly
Ken
Alex

In [10]:
for value in years_experience.values():
    print(value)

3
6
4
3

In [13]:
for key, value in years_experience.items():
    print(key, value)

Luke 3
Kelly 6
Ken 4
Alex 3

In [15]:
for key, value in years_experience.items():
    if value > 5:
        print(key, "has", value, "years expierience")

Kelly has 6 years expierience

In [17]:
for _ in range(100):
    print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

#### while loops

In [19]:
# while True:
#   print("Data")  # it will loop all the time --> meating condition --> True

In [20]:
# while False:
#   print("Data")  # it won't run --> never meet condition --> false

In [22]:
count = 1
while count < 5:
    print(count)
    count += 1

1
2
3
4

In [55]:
years_experience = {
    "Luke":  3,
    "Kelly": 2,
    "Ken":   4,
    "Alex":  3,
    "Mary":  7
}

In [56]:
years_list = list(years_experience.items())
years_list

[('Luke', 3), ('Kelly', 2), ('Ken', 4), ('Alex', 3), ('Mary', 7)]

In [57]:
years = 0
index = 0 

while years < 5:
    key, years = years_list[index]
    if years >= 5:
        print(f"{key} has {years} years of experience")
    index += 1

Mary has 7 years of experience

In [23]:
# break --> stop looping
# continue --> back to loop