### List Comprehension

In [3]:
numbers = []

for number in range(20):
    numbers.append(number)

In [5]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
numbers2 = [x for x in range(20)]  # same operation as above

numbers2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

**General Syntax**

variable = [expression for item in iterable]

In [10]:
# Example

x_sum = [x + x for x in range(10)]

x_sum

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
types_change = [float(x) for x in range(10)]

types_change

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [13]:
string_iteration = [x for x in "PYTHON"]

string_iteration

['P', 'Y', 'T', 'H', 'O', 'N']

Not limited to only **list** Comprehension:
- **set** Comprehension
- **tuple** Comprehension
- **dictionary** Comprehension

In [25]:
# dictionary Comprehension

years_experience = {
    "Luke":  3,
    "Kelly": 2,
    "Ken":   4,
    "Alex":  3,
    "Mary":  7
}

years_add_1 = {x: y + 1 for x, y in years_experience.items()}

years_add_1

{'Luke': 4, 'Kelly': 3, 'Ken': 5, 'Alex': 4, 'Mary': 8}

#### List Comprehension + if statment

General Syntax

variable = [expression for item in iterable if condition == True]

In [26]:
job_list = ["Data Science", "Data Analyst", "Big Data", "Cyber Security"]

In [28]:
data_list = []

for job in job_list:
    if "Data" in job:
        data_list.append(job)

data_list

['Data Science', 'Data Analyst', 'Big Data']

In [30]:
data_list2 = [job for job in job_list if "Data" in job]

data_list2

['Data Science', 'Data Analyst', 'Big Data']