## Types of Functions
| Type of Function             | Example Function              | Section            |
|------------------------------|-------------------------------|--------------------|
| Built-In functions           | `max()`                       | 1. Getting Started |
| User-defined functions       | `def my_function(): pass`     | 16. Functions      |
| Lambda functions             | `lambda x: x + 1`             | 17. Lambda         |
| Standard Library functions   | `math.sqrt()`                 | 18. Modules        |
| Third-Party Library Functions| `numpy.array()`               | 20. Library        |

In [1]:
import my_module

my_module.skill_list

['Python', 'SQL', 'Excel']

In [2]:
my_module.skill("Python")

'Python is my favourite skill'

In [3]:
from job_analazer_module import calulate_salary, calculate_bonus

print(calulate_salary(100000))

calculate_bonus(110000, 100000)

110000.00000000001

0.1

In [1]:
from job_analazer_module import *

print(calulate_salary(100000))

calculate_bonus(110000, 100000)

110000.00000000001

0.1

In [2]:
help(calulate_salary)

Help on function calulate_salary in module job_analazer_module:

calulate_salary(base_salary, bonus_rate=0.1)
    Calculate the total salary based on the based salary and bonus rate.

    Args:
        base_salary (float): The base salary.
        bonus_rate (float): The bonus rate. Default is 0.1.

    Returns:
        float: The total salary.

In [3]:
help(calculate_bonus)

Help on function calculate_bonus in module job_analazer_module:

calculate_bonus(total_salary, base_salary)
    Calculate the bonus rate based on the total salary and base salary.

    Args:
        total_salary (float): The total salary.
        based_salary (float): The base salary.

    Returns:
        float: The bonus rate

#### Python Standard Library
Statistic Module

In [9]:
salary_list = [98000, 101000, 102000, 99000, 97000, 101000]

In [10]:
from statistics import mean, mode, median

mean(salary_list)

99666.66666666667

In [11]:
mode(salary_list)

101000

In [12]:
median(salary_list)

100000.0