In [1]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol

In [2]:
salary1 = BaseSalary(10000)

In [3]:
salary1.base_salary

10000

In [4]:
salary1.symbol

'$'

In [5]:
salary1.bonus_rate

0.1

In [6]:
salary2 = BaseSalary(20000, 0.2, "%")

In [7]:
salary2.base_salary

20000

In [8]:
salary2.symbol

'%'

In [9]:
salary2.bonus_rate

0.2

In [10]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol

    def __repr__(self):
        return f"{self.symbol}{self.base_salary:,.0f}"  # :,.0f --> f-string formating --> documentation

In [11]:
salary3 = BaseSalary(200000)

In [12]:
salary3

$200,000

In [13]:
class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol
        self.total_salary = base_salary * (1 + bonus_rate)
        self.bonus = self.total_salary - self.base_salary

    def __repr__(self):
        return f"{self.symbol}{self.base_salary:,.0f}"  # :,.0f --> f-string formating --> documentation
    
    def show_salary(self):
        return f"{self.symbol}{self.total_salary:,.0f}"

    def show_bonus(self):
        return f"{self.symbol}{self.bonus:,.0f}"

In [14]:
salary4 = BaseSalary(150000)

In [15]:
salary4.symbol

'$'

In [16]:
salary4

$150,000

In [19]:
salary4.total_salary

165000.0

In [17]:
salary4.show_salary()

'$165,000'

In [20]:
salary4.bonus

15000.0

In [18]:
salary4.show_bonus()

'$15,000'